<form action="" method="POST">
  <p>Choose your Dietary Requirements:</p>
    
    <div>
      <input type="checkbox" id="gluten" name="allergies" value="gluten">
      <label for="gluten">Cereals Containing Gluten</label>
    </div>

    <div>
      <input type="checkbox" id="celery" name="allergies" value="celery">
      <label for="celery">Celery</label>
    </div>

    <div>
      <input type="checkbox" id="sesame" name="allergies" value="sesame">
      <label for="sesame">Sesame</label>
    </div>

    <div>
      <input type="checkbox" id="nuts" name="allergies" value="nuts">
      <label for="nuts">Nuts</label>
    </div>

    <div>
      <input type="checkbox" id="lupin" name="allergies" value="lupin">
      <label for="lupin">Lupin</label>
    </div>

    <div>
      <input type="checkbox" id="peanuts" name="allergies" value="peanuts">
      <label for="peanuts">Peanuts</label>
    </div>

    <div>
      <input type="checkbox" id="fish" name="allergies" value="fish">
      <label for="fish">Fish</label>
    </div>

    <div>
      <input type="checkbox" id="milk" name="allergies" value="milk">
      <label for="fish">Milk</label>
    </div>
    <div>
      <input type="checkbox" id="mollusks" name="allergies" value="mollusks">
      <label for="mollusks">Mollusks</label>
    </div>

    <div>
      <input type="checkbox" id="sulphites" name="allergies" value="sulphites">
      <label for="sulphites">Sulphites</label>
    </div>
    
    <div>
      <input type="checkbox" id="crustaceans" name="allergies" value="crustaceans">
      <label for="crustaceans">Crustaceans</label>
    </div>

    <div>
      <input type="checkbox" id="wheat" name="allergies" value="wheat">
      <label for="wheat">Wheat</label>
    </div>

    <div>
      <input type="checkbox" id="mustard" name="allergies" value="mustard">
      <label for="mustard">Mustard</label>
    </div>

    <button>Submit your dietary requirements</button>


</form>