<form action="">
<p>Choose your Dietary Requirements:</p>
  
  <div>
    <input type="checkbox" id="gluten" name="gluten">
    <label for="gluten">Cereals Containing Gluten</label>
  </div>

  <div>
    <input type="checkbox" id="celery" name="celery">
    <label for="celery">Celery</label>
  </div>

  <div>
    <input type="checkbox" id="sesame" name="sesame">
    <label for="sesame">Sesame</label>
  </div>

  <div>
    <input type="checkbox" id="nuts" name="nuts">
    <label for="nuts">Nuts</label>
  </div>

  <div>
    <input type="checkbox" id="lupin" name="lupin">
    <label for="lupin">Lupin</label>
  </div>

  <div>
    <input type="checkbox" id="peanuts" name="peanuts">
    <label for="peanuts">Peanuts</label>
  </div>

  <div>
    <input type="checkbox" id="fish" name="fish">
    <label for="fish">Fish</label>
  </div>

  <div>
    <input type="checkbox" id="milk" name="milk">
    <label for="fish">Milk</label>
  </div>
  <div>
    <input type="checkbox" id="mollusks" name="mollusks">
    <label for="mollusks">Mollusks</label>
  </div>

  <div>
    <input type="checkbox" id="sulphites" name="sulphites">
    <label for="sulphites">Sulphites</label>
  </div>
  
  <div>
    <input type="checkbox" id="crustaceans" name="crustaceans">
    <label for="crustaceans">Crustaceans</label>
  </div>

  <div>
    <input type="checkbox" id="wheat" name="wheat">
    <label for="wheat">Wheat</label>
  </div>

  <div>
    <input type="checkbox" id="mustard" name="mustard">
    <label for="mustard">Mustard</label>
  </div>

  <button>submit your dietary requirements</button>


</form>