<section class="container">
    
    <h1>User Profile</h1>

    <a href="/authentication/profile">{{  user.name }}'s Profile</a>

    {{#if user}}
        <p>{{user.name}}</p>
    {{/if}}

</section>




