<div class="form-check-box"></div>
  <div class="form-check form-check-inline">
    <input type="checkbox" id="gluten" class="form-check-input" name="allergies" value="Gluten">
    <label for="gluten" class="form-check-label">Gluten</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="checkbox" id="celery"class="form-check-input" name="allergies" value="Celery">
    <label for="celery" class="form-check-label">Celery</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="checkbox" id="sesame" class="form-check-input" name="allergies" value="Sesame">
    <label for="sesame" class="form-check-label">Sesame</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="checkbox" id="nuts" class="form-check-input" name="allergies" value="Nuts">
    <label for="nuts" class="form-check-label">Nuts</label>
  </div>

  <div class="form-check form-check-inline">
    <input type="checkbox" id="lupin" class="form-check-input" name="allergies" value="Lupin">
    <label for="lupin" class="form-check-label">Lupin</label>
  </div>

  <div>
    <input type="checkbox" id="peanuts" name="allergies" value="Peanuts">
    <label for="peanuts">Peanuts</label>
  </div>

  <div>
    <input type="checkbox" id="fish" name="allergies" value="Fish">
    <label for="fish">Fish</label>
  </div>

  <div>
    <input type="checkbox" id="milk" name="allergies" value="Milk">
    <label for="milk">Milk</label>
  </div>

  <div>
    <input type="checkbox" id="eggs" name="allergies" value="Eggs">
    <label for="eggs">Eggs</label>
  </div>

  <div>
    <input type="checkbox" id="soybeans" name="allergies" value="Soybeans">
    <label for="Soybeans">Soybeans</label>
  </div>

  <div>
    <input type="checkbox" id="mollusks" name="allergies" value="Mollusks">
    <label for="mollusks">Mollusks</label>
  </div>

  <div>
    <input type="checkbox" id="sulphites" name="allergies" value="Sulphites">
    <label for="sulphites">Sulphites</label>
  </div>

  <div>
    <input type="checkbox" id="crustaceans" name="allergies" value="Crustaceans">
    <label for="crustaceans">Crustaceans</label>
  </div>

  <div>
    <input type="checkbox" id="wheat" name="allergies" value="Wheat">
    <label for="wheat">Wheat</label>
  </div>

  <div>
    <input type="checkbox" id="mustard" name="allergies" value="Mustard">
    <label for="mustard">Mustard</label>
  </div>
</div>  