
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="gluten" name="allergies" value="Gluten">
    <label class="form-check-label" for="gluten">Gluten</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="celery" name="allergies" value="Celery">
    <label class="form-check-label" for="celery">Celery</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="sesame" name="allergies" value="Sesame">
    <label class="form-check-label" for="sesame">Sesame</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="nuts" name="allergies" value="Nuts">
    <label class="form-check-label" for="nuts">Nuts</label>
  </div>

   <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="lupin" name="allergies" value="Lupin">
    <label class="form-check-label" for="lupin">Lupin</label>
  </div>

   <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="peanuts" name="allergies" value="Peanuts">
    <label class="form-check-label" for="peanuts">Peanuts</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="fish" name="allergies" value="Fish">
    <label class="form-check-label" for="fish">Fish</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="milk" name="allergies" value="Milk">
    <label class="form-check-label" for="milk">Milk</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="eggs" name="allergies" value="Eggs">
    <label class="form-check-label" for="eggs">Eggs</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="soybeans" name="allergies" value="Soybeans">
    <label class="form-check-label" for="Soybeans">Soybeans</label>
  </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="mollusks" name="allergies" value="Mollusks">
    <label class="form-check-label" for="mollusks">Mollusks</label>
  </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="sulphites" name="allergies" value="Sulphites">
    <label class="form-check-label" for="sulphites">Sulphites</label>
  </div>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="crustaceans" name="allergies" value="Crustaceans">
    <label class="form-check-label" for="crustaceans">Crustaceans</label>
  </div>

    <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="wheat" name="allergies" value="Wheat">
    <label class="form-check-label" for="wheat">Wheat</label>
  </div>

   <div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="mustard" name="allergies" value="Mustard">
    <label class="form-check-label" for="mustard">Mustard</label>
  </div>
