<section>
  <div class="main-page">
    <h1>{{title}}</h1>  

    <h2>Dine Out Of Restrictions</h2>

    <div>
      <p>Find out which restaurants can accomodate your dietery requirements.</p>
      <p>Search for a restaurant from a list made just for you!</p>
    </div>

  </div>
</section>
<!--Section Maps -->
<section>
  <div id="map-container"></div>
</section>
<!--Section product -->
<section>
  <div class="index-last-section">
    <article class="box">
      <div class = "items-inside-box">
        <h3>Are you restaurant owner?</h3>
        <p>Connect with your clients in a different way, while boosting your business.</p>
      </div>
      <a class= "href-as-yellow-button"  href="/authentication/sign-up">Create the Table</a>
    </article>
    <article class="box">
      <div class = "items-inside-box">  
        <h3>Are you foodie?</h3>
        <p>Then this is for you! </br> Find the restaurant that can fullfill your dietary requirements.</p>
      </div >
      <a class= "href-as-yellow-button"  href="/authentication/sign-up">Join the Table</a>
    </article>
  </div>
</section>  

<script>
    const restaurants = {{{ json restaurants }}};
    function initMap() {
        const $mapContainer = document.getElementById('map-container');
        const map = new window.google.maps.Map($mapContainer, {
            center: {lat: 38.7223, lng: -9.10},
            zoom: 11
        });
    

        const markers = [];

        for (let restaurant of restaurants) {
            const marker = new window.google.maps.Marker({
                map,
                position: { 
                    lat: restaurant.location.coordinates[0],
                    lng: restaurant.location.coordinates[1] 
                }
            });
            
            marker.addListener('click', () => {
                const restaurantSingle = `/restaurant/${restaurant._id}`;
                window.location = restaurantSingle;
            })
            markers.push(marker);
        }

    }
</script>

{{> mapscript}}