  <section>
    <div class="main-page">
      <h1>{{title}}</h1>  

      <h2>Dine Out Of Restrictions</h2>

      <div>
        <p>Find out which restaurants can accomodate your food allergy requirements.</p>
        <p>Search for a restaurant from a list made just for you!</p>
      </div>

    </div>
  </section>
  <!--Section Maps -->
  <section>
    <div id="map-container"></div>
  </section>
  <!--Section product -->
{{!-- <div class="container"> --}}
<section>
  <div class="index-last-section">
    <article class="box">
      <div class = "items-inside-box">
        <h3>Are you a restaurant owner?</h3>
        <p>Connect with your clients in a different way, while boosting your business.</p>
      </div>
      <a class= "href-as-yellow-button"  href="/authentication/sign-up">Create a Table</a>
    </article>
    <article class="box">
      <div class = "items-inside-box">  
        <h3>Are you a foodie?</h3>
        <p>Then this is for you! </br> Find a restaurant that can fullfill your food allergy requirements.</p>
      </div >
      <a class= "href-as-yellow-button"  href="/authentication/sign-up">Join the Table</a>
    </article>
  </div>
</section>  



{{!-- 

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Are you restaurant owner?</h5>
          <p class="card-text">Connect with your clients in a different way, while boosting your business.</p>
          <a href="/authentication/sign-up" class="href-as-yellow-button">Create the Table</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Are you restaurant owner?</h5>
          <p class="card-text">Then this is for you! </br> Find the restaurant that can fullfill your dietary requirements.</p>
          <a href="/authentication/sign-up" class="href-as-yellow-button">Join the Table</a>
        </div>
      </div>
    </div>
  </div> --}}

{{> listrestaurants}}

{{> mapscript}}