<section>
  <div class="main-page">
    <h1>{{title}}</h1>  

    <h2>Dine Out Of Restrictions</h2>

    <div>
      <p>Choose your restaurant from personalized list</p>
      <p>Find out which restaurants near you can accomodate your dietery requirements</p>
    </div>

  </div>
</section>
<!--Section Maps -->
<section>
  <div class="map-container"></div>
</section>
<!--Section product -->
<section>
  <div class="last-section">
    <div class="box">
      <h4>Are you restaurant owner?</h4>
      <p>Connect with your clients in a different way, while boosting your business.</p>
      <a href="/authentication/sign-up">Create the Table</a>
    </div>
    <div class="box">
      <h4>Are you foodie?</h4>
      <p>Then this is for you!!! Find the restaurant that can fullfill your dietary needs.</p>
      <a href="/authentication/sign-up">Join the Table</a>
    </div>
  </div>
</section>  

