<div class="main-page">
    <h1>{{title}}</h1>  

    <h2>Dine Out Of Restrictions</h2>

    <div>
      <p>Choose your restaurant from personalized list</p>
      <p>Find out which restaurants near you can accomodate your dietery requirements</p>
    </div>

</div>
