<section>
  <div class="main-page">
    <h1>{{title}}</h1>  

    <h2>Dine Out Of Restrictions</h2>

    <div>
      <p>Find out which restaurants can accomodate your dietery requirements.</p>
      <p>Search for a restaurant from a list made just for you!</p>
    </div>

  </div>
</section>
<!--Section Maps -->
<section>
  <div class="map-container"></div>
</section>
<!--Section product -->
<section>
  <div class="index-last-section">
    <article class="box">
      <div class = "items-inside-box">
        <h3>Are you restaurant owner?</h3>
        <p>Connect with your clients in a different way, while boosting your business.</p>
      </div>
      <a class= "href-as-yellow-button"  href="/authentication/sign-up">Create the Table</a>
    </article>
    <article class="box">
      <div class = "items-inside-box">  
        <h3>Are you foodie?</h3>
        <p>Then this is for you! </br> Find the restaurant that can fullfill your dietary requirements.</p>
      </div >
      <a class= "href-as-yellow-button"  href="/authentication/sign-up">Join the Table</a>
    </article>
  </div>
</section>  

<script>
  
</script>


{{> mapscript}}