<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/restaurant/list">Restaurant List</a>
      {{#if user}}
      <a href="/authentication/private">{{ user.name }}'s Profile</a>
      <div class="testNav">
        <form action="/authentication/sign-out" method="POST">
        <button>Sign Out</button>
        </form>
        {{else}}
        <a href="/authentication/log-in">Log In</a>
        <a href="/authentication/sign-up">Sign Up</a>
        </div>
      {{/if}}
    </nav>
    {{{body}}}
    <footer>
      <p>© 2020 Ana de Almeida & Leonor Ferreira | <em>Ironhack Bootcamp Project</em></p>
    </footer>
    <script src="/scripts/script.js"></script>
  </body>
</html>
