<form method="POST">
  <label for="input-restaurant-name">Name</label>
  <input type="text" id="input-restaurant-name" name="name" required placeholder="Your Name" />

  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" required placeholder="Your Email" />

  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" required placeholder="A Strong Password" />




  <button>Create Restaurant</button>
</form>