<form  class="container" action="" method="post">
  
  <label for="input-zomato-restaurant-id">Zomato Restaurant ID</label>
  <input type="number" id="input-zomato-restaurant-id" required name="zomatoId" placeholder="Your Zomato Restaurant Id"/>

  <button>Submit Zomato Restaurant Id</button>
</form>