<form method="POST">


  <label for="input-restaurant-name">Restaurant Name</label>
  <input type="text" id="input-restaurant-name" name="name" required placeholder="Restaurant Name" />

  <label for="input-image">Restaurant Image</label>
  <input type="file" id="input-image" name="image" placeholder="Restaurant Image" />

  <label for="input-location">Location</label>
  <input type="" name="password" id="input-password" required placeholder="Restaurant Location" />




  <button>Create Restaurant</button>
</form>