
<div class="container">

    </div><h4>Your curated list of restaurants</h4>
    <p> The list of restaurants that can fullfill your dietary requirements.</p>
    <div id="map-container"></div>

    <script>
        const restaurants = {{{ json restaurants }}};

        function initMap() {
            const $mapContainer = document.getElementById('map-container');
            const map = new window.google.maps.Map($mapContainer, {
                center: {lat: 38.7223, lng: -9.10},
                zoom: 11
            });
        

            const markers = [];

            for (let restaurant of restaurants) {
                const marker = new window.google.maps.Marker({
                    map,
                    position: { 
                        lat: restaurant.location.coordinates[0],
                        lng: restaurant.location.coordinates[1] 
                    },
                    title: restaurant.name
                });
                
                marker.addListener('click', () => {
                    const restaurantSingle = `/restaurant/${restaurant._id}`;
                    window.location = restaurantSingle;
                })
                markers.push(marker);
            }

        }


    </script>

    {{> mapscript}}

    </div>